@use  "../abstract/mixin" as mixin;

.background-shapes{
    // flex-basis: 100%;
    @include mixin.responsive(xs){
        display: none;
    }
    .box1{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 3px solid  #3f43fd;
        border-radius: 0.35rem;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(xl){
            top: 55%;
            left: 16%;
        }
        
    }

    .box2{
        position: absolute;
        top: 80%;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 3px solid  #3f43fd;
        border-radius: 0.35rem;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 155%;
            left: 55%;
        }

        @include mixin.responsive(xl){
            top: 95%;
            left: 55%;
        }


    }

    .box3{
        position: absolute;
        top: 40%;
        left: 90%;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 3px solid  #3f43fd;
        border-radius: 0.35rem;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 95%;
            left: 80%;
        }
        @include mixin.responsive(xl){
            top: 17%;
            left: 80%;
        }

    }


    

    .dot1{
        position: absolute;
        top: 77%;
        left: 10%;
        width: 8px;
        height: 8px;
        background-color: #3f43fd;
        
        border-radius: 50%;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 130%;
            left: 10%;
        }

        @include mixin.responsive(xl){
            top: 88%;
            left: 13%;
        }

    }

    .dot2{
        position: absolute;
        top: 17%;
        left: 95%;
        width: 8px;
        height: 8px;
        background-color: #fd3f9e;
        
        border-radius: 50%;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 65%;
            left: 70%;
        }


        @include mixin.responsive(lg){
            top: 27%;
        }

        @include mixin.responsive(xl){
            top: 30%;
            left: 60%;
        }
    }


    .dot3{
        position: absolute;
        top: 42%;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: #3ffd78;
        
        border-radius: 50%;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(xl){
            top: 28%;
            left: 25%;
        }
    }


    .dot4{
        position: absolute;
        top: 61%;
        right: 29%;
        width: 8px;
        height: 8px;
        background-color: #3ffd78;
        
        border-radius: 50%;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 130%;
            left: 80%;
        }

        @include mixin.responsive(xl){
            top: 97%;
            left: 80%;
        }


    }



    .heart1{
        font-size: 1.5rem;
        position: absolute;
        top: 51%;
        left: 13%;
        z-index: -1;
        color: rgb(255, 0, 149);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 75%;
        }

        @include mixin.responsive(lg){
            top: 40%;
            left: 5%;
        }

        @include mixin.responsive(xl){
            top: 20%;
            left: 8%;
        }

        
    }

    
    .heart2{
        font-size: 1.5rem;
        position: absolute;
        top: 55%;
        right: 8%;
        z-index: -1;
        color: rgb(255, 0, 149);
        animation: box-shape linear 5s infinite;

        @include mixin.responsive(md){
            top: 35%;
            right: 10%;
        }

        @include mixin.responsive(lg){
            top: 60%;
            right: 5%;
        }

        @include mixin.responsive(xl){
            top: 55%;
            right: 10%;
        }

    }


    .circle1{

        
            position: absolute;
            top: 60%;
            left: 21%;
            width: 15px;
            height: 15px;
            
            border: 3px solid  #fdba3f;
            border-radius: 50%;
            
            z-index: -1;
            transform: rotate(360deg);
            animation: box-shape linear 5s infinite;
        
            @include mixin.responsive(md){
                top: 90%;
                left: 29%;
            }

            @include mixin.responsive(xl){
                top: 90%;
                left: 29%;
            }
    }

    .circle2{
        position: absolute;
        top: 24%;
        left: 52%;
        width: 15px;
        height: 15px;
        
        border: 3px solid  #783ffd;
        border-radius: 50%;
        
        z-index: -1;
        transform: rotate(360deg);
        animation: box-shape linear 5s infinite;
    
        @include mixin.responsive(md){
            top: 24%;
            left: 56%;
        }

       

        @include mixin.responsive(lg){
            top: 20%;
        }
        @include mixin.responsive(xl){
            top: 23%;
            left: 40%;
        }
}


}