@use "../abstract/variable" as var;
@use "../abstract/function" as func;
@use "../abstract/mixin" as mixin;


.header{
    padding: 1rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;

@include mixin.responsive(xs) {
    padding: 1rem 2rem;
    
}

@include mixin.responsive(sm) {
    padding: 1rem 2rem;
    
}

h2 > span{
    @include mixin.responsive(xs) {
        font-size: 1rem;
    }


}

.nav-toggler{

    display: none;
    @include mixin.responsive(xs) {

        display: block;
        font-size: 1.3rem;
        
    }

    @include mixin.responsive(sm) {
        display: block;
        font-size: 1.3rem;
        
    }


    
}

    &-menu {
        display: flex;
        list-style: none;
        align-items: center;
        text-transform: uppercase;

        @include mixin.responsive(xs){
            display: none;
        }

        @include mixin.responsive(sm){
            display: none;
        }

        &-item > a {
            margin-right: 1.5rem;
            font-size: 14px;
            font-weight: 600;
            color: #242424 ;
            transition: 200ms;
         

            &:hover{
                color: func.theme-color("primary");
            }

            &.active{
                color: func.theme-color("primary");
            }
        }
    }
    
}
