@use "../abstract/variable" as var;
@use "../abstract/function" as func;

.header{
    padding: 1rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;

    &-menu {
        display: flex;
        list-style: none;
        align-items: center;
        text-transform: uppercase;

        &-item > a {
            margin-right: 1.5rem;
            font-size: 14px;
            font-weight: 600;
            color: #242424 ;
            transition: 200ms;
         

            &:hover{
                color: func.theme-color("primary");
            }

            &.active{
                color: func.theme-color("primary");
            }
        }
    }
    
}
