@use "../abstract/variable" as var;
@use "../abstract/function" as func;
@use "../abstract/mixin" as mixin;

.about-area{
    padding: 8rem 20rem;
    background-color: func.theme-color();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;

    @include mixin.responsive(xs){
        padding: 4rem 2rem;
        flex-direction: column;
        margin-top: 0;
    }
    @include mixin.responsive(sm){
        padding: 4rem 2rem;
        flex-direction: column;
        margin-top: 0;
        // align-items: initial;
    }

    @include mixin.responsive(lg){
        padding: 8rem 6rem;
        flex-direction: row;
        margin-top: 0;
        align-items: center;
    }

    @include mixin.responsive(xl){
        padding: 8rem 15rem;
        
    }

    @include mixin.responsive(xxl){
        padding: 8rem 20rem;
        
    }


    &-img{
        width: 32rem;

        
        @include mixin.responsive(sm){
            width: 20rem;
        }

        @include mixin.responsive(lg){
            width: 64rem;
        }

        @include mixin.responsive(xl){
            width: 100rem;
        }

    }

    &-contents{

        color: #fff;
        

        @include mixin.responsive(xs){
            margin: 0;
        }

        @include mixin.responsive(sm){
            margin: 0;
        }

       


            h2{
                font-size: 3rem;

                @include mixin.responsive(xs){
                    font-size: 1.5rem;
                }

                @include mixin.responsive(sm){
                    font-size: 1.5rem;
                }

                @include mixin.responsive(xxl){
                    font-size: 3rem;
                }


            }
            p{
                line-height: 2;
                color: rgb(204, 204, 204);

                @include mixin.responsive(xs){
                    font-size: 0.9rem;
                }

                @include mixin.responsive(sm){
                    font-size: 0.9rem;
                }

                @include mixin.responsive(xxlg){
                    font-size: 1rem;
                }

                a{
                    color: white;

                    &:hover{
                        text-shadow: 10px 20px 30px black;
                    }

                }
            }
    }
}