@use "../abstract/mixin" as mixin;

.contact{
    padding: 8rem 20rem;
    background-color: rgb(196, 196, 196);

    @include mixin.responsive(xs){
        padding: 4rem 1rem;
     }

     @include mixin.responsive(sm){
        padding: 4rem 1rem;
     }

    &-card{

       
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        border-radius: 0.5rem;

       

        @include mixin.responsive(xs){
            flex-direction: column;
            padding: 2rem;
            align-items: initial;
         }

         @include mixin.responsive(sm){
            flex-direction: column;
            padding: 2rem;
            align-items: initial;
         }


        &-contant{

            flex-grow: 1;


            h4{
                font-size: 1.2rem;
                @include mixin.responsive(xs){
                    font-size: 1rem;
                }

                @include mixin.responsive(sm){
                    font-size: 1rem;
                }
            }
            p{
                color: gray;

                @include mixin.responsive(xs){
                    font-size: 0.9rem;
                }
                @include mixin.responsive(sm){
                    font-size: 0.9rem;
                }
            }

        }

        
    }
}