@use "../abstract/mixin" as mixin;

.hero-area{
    padding: 8rem 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

    @include mixin.responsive(xs){
        padding: 4rem 2rem;
        flex-direction: column; 
    }

    @include mixin.responsive(sm){
        padding: 4rem 2rem;
        flex-direction: column; 
    }

    @include mixin.responsive(lg){
        padding: 8rem 6rem;
        flex-direction: row;
    }

    @include mixin.responsive(xl){
        padding: 8rem 15rem;
       justify-content: space-between;
    }
    

    img{
        width: 25rem;
    }

    &-contants{
        max-width: 34rem;

        @include mixin.responsive(lg){
            max-width: 25rem;
        }
    }

    &-title{
        font-size: 3rem;
        font-weight: 600;

        @include mixin.responsive(xs){
        font-size: 2rem;
        }

        @include mixin.responsive(sm){
            font-size: 1.5rem;
            }
           
         @include mixin.responsive(lg){
            font-size: 2rem;
        }

        @include mixin.responsive(lg){
            font-size: 2.5rem;
        }

 & > span{
    font-size: 1.5rem;

  
} 

    }
    &-desc{
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.8;
        color: grey;

        @include mixin.responsive(xs){
            font-size: 0.9rem;
        }

        @include mixin.responsive(sm){
            font-size: 0.9rem;
        }

        @include mixin.responsive(lg){
            font-size: 1rem;
        }
    }

}

